.mark1 {
	-webkit-animation: 5.5s highlight 1.5s 1 normal forwards;
	animation: 1.5s highlight 1.5s 1 normal forwards;
	animation-delay: 500ms;
	background-color: none;
	background: linear-gradient(90deg, var(--background) 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
}

@-webkit-keyframes highlight {
	to {
		background-position: 0 0;
	}
}

@keyframes highlight {
	to {
		background-position: 0 0;
	}
}
.mark2 {
	-webkit-animation: 5.5s highlight 1.5s 1 normal forwards;
	animation-delay: 700ms;
	animation: 1.5s highlight 1.5s 1 normal forwards;
	background-color: none;
	background: linear-gradient(90deg, var(--background) 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
}

@-webkit-keyframes highlight {
	to {
		background-position: 0 0;
	}
}

@keyframes highlight {
	to {
		background-position: 0 0;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slideInRight {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.fadeOutUp{
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

.shake-vertical {
	-webkit-animation: shake-vertical 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation: shake-vertical 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

/* /* ----------------------------------------------
 * Generated by Animista on 2023-11-10 22:40:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	80% {
		-webkit-transform: translateY(6.4px);
		transform: translateY(6.4px);
	}
	90% {
		-webkit-transform: translateY(-6.4px);
		transform: translateY(-6.4px);
	}
}
@keyframes shake-vertical {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	80% {
		-webkit-transform: translateY(6.4px);
		transform: translateY(6.4px);
	}
	90% {
		-webkit-transform: translateY(-6.4px);
		transform: translateY(-6.4px);
	}
}
