@media screen and (max-width: 1230px) {
	.hero {
		display: none;
	}

	.newHeader {
		padding: 3rem 7rem;
	}

	.arrow-container {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	// header and hero
	.newHeader {
		h1 {
			font-size: 2rem;
		}

		li {
			font-size: 1rem;
		}
	}

	.header {
		h1 {
			font-size: 2rem;
		}

		li {
			font-size: 1rem;
		}
	}

	.arrow-container {
		display: none;
	}

	// all text
	h3 {
		font-size: 1.7rem !important;
	}

	p {
		font-size: 1.2rem !important;
	}

	section.about {
		display: none;
	}
	section.about-mobile {
		display: block;

		margin: 3rem 2rem;
		margin-top: -1.2rem;
		text-align: center;

		h3 {
			padding: 1rem;
			color: var(--black);
		}

		p {
			margin: 2rem 0rem;
			text-align: left;
			color: var(--black);
		}
	}

	.footer {
		p {
			font-size: 0.8rem !important;

			a {
				font-size: 0.8rem !important;
			}
		}
	}
}
